extends ../layouts/default

block content
  .characteristics-page
    nav.cd-side-navigation
      h1  Характеристики
      ul.char-menu
        -var menu = {'kinds':'Основные виды обрабатываемого сырья и применение','advantages':'Преимущества','options':'Параметры','functions':'Назначение, функции'}
        each item,index in menu
          li
            a(href="/#{index}" ) #{item}
    main.cd-main
      section.cd-section.kinds.visible
          header.header-kinds
           .wrapper
            section.cd-title
              h2 Диспергатор МЕССКА
              p Предназначен для обработки жидкого топлива с целью создания однородной мелкодисперсной  по своей структуре топливной эмульсии, исключающей сгустки и водяные линзы. Установка позволяет увеличить полноту сгорания и экономить мазут, печное топливо от 4 до 11%. Установка также применяется для экономии топлива, снижения затрат на его приобретение, эффективного сжигания, существенного снижения вредных выбросов в атмосферу.
            section.cd-block
              h2.icon-one Основные виды обрабатываемого сырья
              ul
                -var rawMaterials = ['• нефть','• битум','• мазут','• отработанное масло','• жидкое печное топливо','• тяжёлое судовое топливо']
                  each material in rawMaterials
                    li #{material}
            section.cd-block
              h2.icon-two Применение
              ul
                -var rawMaterials = ['• Нефтеперерабатывающие и нефтедобывающие предприятия','• Котельные на жидком печном топливе','• Мазутные котельные','• Речной и морской флот','• Производители топливной эмульсии','• Обработка и утилизация нефтешлама','• Мазутные хранилища','• Обработка и утилизация отработанных масел','• Битумные производства','• Разбивание нефтяных и технических парафинов','• ТЭЦ']
                  each material in rawMaterials
                    li.small #{material}
            //- a(href="#index-content").cd-scroll Scroll Down
    #cd-loading-bar(data-scale="1").index
    .mob-version
      .top
        h1  Характеристики
      section.ac-container
        div
          input#ac-1(name="accordion-1" type="radio" checked)
          label(for="ac-1") Основные виды обрабатываемого сырья и применение
          article.ac-small
              .wrapper-ac
               section.cd-title
                 h2 Диспергатор МЕССКА
                 p Предназначен для обработки жидкого топлива с целью создания однородной мелкодисперсной  по своей структуре топливной эмульсии, исключающей сгустки и водяные линзы. Установка позволяет увеличить полноту сгорания и экономить мазут, печное топливо от 4 до 11%. Установка также применяется для экономии топлива, снижения затрат на его приобретение, эффективного сжигания, существенного снижения вредных выбросов в атмосферу.
               section.cd-block
                 h2.icon-one Основные виды обрабатываемого сырья
                 ul
                   -var rawMaterials = ['• нефть','• битум','• мазут','• отработанное масло','• жидкое печное топливо','• тяжёлое судовое топливо']
                     each material in rawMaterials
                       li #{material}
               section.cd-block
                 h2.icon-two Применение
                 ul
                   -var rawMaterials = ['• Нефтеперерабатывающие и нефтедобывающие предприятия','• Котельные на жидком печном топливе','• Мазутные котельные','• Речной и морской флот','• Производители топливной эмульсии','• Обработка и утилизация нефтешлама','• Мазутные хранилища','• Обработка и утилизация отработанных масел','• Битумные производства','• Разбивание нефтяных и технических парафинов','• ТЭЦ']
                     each material in rawMaterials
                       li.small #{material}
        div
          input#ac-2(name="accordion-1" type="radio" )
          label(for="ac-2") Преимущества
          article.ac-small
            .wrapper-ac
              section.cd-title
                h2 Преимущества
              section.cd-block
                h2.icon-3 Надежность
                p.small В отличие от роторных, магнитных и большинства струйных гомогенизаторов, которые имеют в своей конструкции движущиеся элементы и могут выйти из строя из-за сбоя настроек кавитационного эффекта, попадания механических примесей и других объектов, диспергатор работает, используя гидродинамику движущегося потока без подвижных частей внутри.<br/>Гомогенизатор изготавливается из конструкционной легированной стали с последующей закалкой металла.
              section.cd-block
                h2.icon-4 Высокая производительность
                p.small Широкий размерный ряд позволяет обеспечивать обработку топлива от 3 до 120т/час в зависимости от потребностей заказчика.
              section.cd-block
                h2.icon-5 Простота монтажа
                p.small Разрабатываем схему и помогаем определить максимально эффективное место установки диспергатора. Установка 1 - 3 часа.
              section.cd-block
                h2.icon-6 Способ очистки
                p.small Возможность промывки “острым” паром.
              section.cd-block
                h2.icon-7 Многофункциональность
                p.small Гомогенизатор может быть использован для различных видов топлива: мазута, битума, печного топлива.
              section.cd-block
                h2.icon-8 Незасоряемость
                p.small Благодаря внутренней конструкции диспергатор мало подвиргается засорению
              section.cd-block
                h2.icon-9 Небольшой вес
                p.small От 6 до 100 кг
              section.cd-block.last-block
                h2.icon-10 Длительный срок службы
                p.small Срок службы от 10 лет
        div
          input#ac-3(name="accordion-1" type="radio" )
          label(for="ac-3") Параметры
          article.ac-small
            .wrapper-ac
              section.cd-title.center
                h2 Параметры
                img(src="images/char/slide3/anim2.gif" alt="anim") 
                p Принципиальная схема работы
              section.cd-block
                h2.icon-11 Улучшение качества топлива
                ul.ul-block
                  -var rawMaterials = ['• создание водо-мазутной эмульсии с содержанием воды до 14%','• получение высокой дисперсности конечного продукта: от 0,1 мкм (на диспергаторе 2-ого поколения)','• отсутствие расслаивания водно-мазутной эмульсии при правильном хранении от 6 мес. до 2 и более лет','• снижение вязкости мазута и/или водо-мазутной эмульсии','• снижение температуры застывания обработанного мазута и эмульсии при хранении']
                    each material in rawMaterials
                      li #{material}
              section.cd-block.block-img
               .images
                  -var images = ['images/char/slide3/1.png','images/char/slide3/2.png','images/char/slide3/3.png']
                  -var texts = ['Необработанная водомазутная эмульсия 20% воды. Размер капель 100-200мкм','Обработанная ВМЭ 20%. Диспергатор II поколение.Размер капель 0,5-5 мкм','Обработанная ВМЭ 20%. Диспергатор III поколение.Размер капель 0,1-1мкм']
                    each img,i in images
                      .img
                        img(src="#{img}")
                        p.img-text #{texts[i]}
              section.cd-block
                h2.icon-12 Увеличение эффективности производственных процессов
                ul.ul-block
                  -var rawMaterials = ['• увеличение полноты сгорания топлива','• снижение показателя дымности в 2 раза','• эффективное сжигание «лежалого» мазута (15 лет) с большим содержанием воды','• эффективное смешивание очищенного нефтешлама с разного качества мазутами. После обработки смесь достигает параметров ГОСТа.','• снижение температуры вспышки за счет изменения фракционного состава','• высокоэффективная огневая утилизация некоторых отходов производства: сивушных масел, подтоварной воды, льяльных вод и др.','• уменьшение температуры уходящих газов']
                    each material in rawMaterials
                      li #{material}
              section.cd-block
                h2.icon-13 Экономия топлива и сокращение эксплуатационных расходов
                ul.ul-block
                  -var rawMaterials = ['• ежемесячная экономия топлива 4-11% ','• увеличение ресурса штатных насосов в несколько раз за счет изменения физических характеристик топлива: измельчения, снижения вязкости.','• уменьшение количества работ по очистке в несколько раз за счет снижения/отсутствия нагара на экранах котлов','• стабильная работа устройства до 10 и более лет.']
                    each material in rawMaterials
                      li #{material}
              section.cd-block.last-block
                h2.icon-14 Экологическая безопасность
                ul.ul-block
                  -var rawMaterials = ['• снижение вредных выбросов в атмосферу в несколько раз за счет полноты сгорания']
                    each material in rawMaterials
                      li #{material}
                p Обработка топлива производится без применения каких-либо реагентов или добавок.<br/>Диспергатор применяется также для создания однородных жидких основ при производстве: биодизеля, лаков, красок, клеев, различного рода паст, эмульсий и др.
        div
          input#ac-4(name="accordion-1" type="radio" )
          label(for="ac-4") Назначения, функции
          article.ac-small
            .wrapper-ac
              header
                section.cd-block
                  h2.icon-15 Назначение
                  ul.ul-block
                    -var rawMaterials = ['• создание однородной (гомогенной) структуры топлива','• устранение расслоения топлива','• сжигание обводненного мазута','• сжигание «лежалого» мазута (15 лет)','• получение мелкодисперсных водо-мазутных эмульсий с содержанием воды до 14%','• разделение, обработка и диспергация нефтешламов','• введение присадок в топливо','• утилизация сивушных масел, подтоварной воды, льяльных вод и других отходов производства.']
                      each material in rawMaterials
                        li #{material}
                section.cd-block
                  h2.icon-16 Функции
                  ul.ul-block
                    -var rawMaterials = ['• Гомогенизация: качественное однородное смешивание топлива','• Кавитация: способствует эмульгированию обычно не смешиваемых компонентов.','• сжигание обводненного мазута','• Диспергация: обработка эмульсии с получением дисперсности от 0,5 мкм (на диспергаторе 2-ого поколения).']
                      each material in rawMaterials
                        li #{material}
