extends ../layouts/default

block content
  .characteristics
    nav.cd-side-navigation
      h1  Характеристики
      ul.char-menu
        -var menu = {'kinds':'Основные виды обрабатываемого сырья и применение','advantages':'Преимущества','options':'Параметры','functions':'Назначение, функции'}
        each item,index in menu
          li
            a(href="/#{index}") #{item}
    main.cd-main
      section.cd-section.options.visible
          header.slide.header-projects
            h2 Параметры
            p Эффективность. Экономия. Экология
            a(href="#index-content").cd-scroll Scroll Down
          .cd-content#projects-content.content-project
            .wrapper
              section.cd-title.center
                h2 Параметры
                img(src="images/char/slide3/anim2.gif" alt="anim") 
                p Принципиальная схема работы
              section.cd-block
                h2.icon-11 Улучшение качества топлива
                ul.ul-block
                  -var rawMaterials = ['• создание водо-мазутной эмульсии с содержанием воды до 14%','• получение высокой дисперсности конечного продукта: от 0,1 мкм (на диспергаторе 2-ого поколения)','• отсутствие расслаивания водно-мазутной эмульсии при правильном хранении от 6 мес. до 2 и более лет','• снижение вязкости мазута и/или водо-мазутной эмульсии','• снижение температуры застывания обработанного мазута и эмульсии при хранении']
                    each material in rawMaterials
                      li #{material}
              section.cd-block.block-img
               .images
                  -var images = ['images/char/slide3/1.png','images/char/slide3/2.png','images/char/slide3/3.png']
                  -var texts = ['Необработанная водомазутная эмульсия 20% воды. Размер капель 100-200мкм','Обработанная ВМЭ 20%. Диспергатор II поколение.Размер капель 0,5-5 мкм','Обработанная ВМЭ 20%. Диспергатор III поколение.Размер капель 0,1-1мкм']
                    each img,i in images
                      .img
                        img(src="#{img}")
                        p.img-text #{texts[i]}
              section.cd-block
                h2.icon-12 Увеличение эффективности производственных процессов
                ul.ul-block
                  -var rawMaterials = ['• увеличение полноты сгорания топлива','• снижение показателя дымности в 2 раза','• эффективное сжигание «лежалого» мазута (15 лет) с большим содержанием воды','• эффективное смешивание очищенного нефтешлама с разного качества мазутами. После обработки смесь достигает параметров ГОСТа.','• снижение температуры вспышки за счет изменения фракционного состава','• высокоэффективная огневая утилизация некоторых отходов производства: сивушных масел, подтоварной воды, льяльных вод и др.','• уменьшение температуры уходящих газов']
                    each material in rawMaterials
                      li #{material}
              section.cd-block
                h2.icon-13 Экономия топлива и сокращение эксплуатационных расходов
                ul.ul-block
                  -var rawMaterials = ['• ежемесячная экономия топлива 4-11% ','• увеличение ресурса штатных насосов в несколько раз за счет изменения физических характеристик топлива: измельчения, снижения вязкости.','• уменьшение количества работ по очистке в несколько раз за счет снижения/отсутствия нагара на экранах котлов','• стабильная работа устройства до 10 и более лет.']
                    each material in rawMaterials
                      li #{material}
              section.cd-block.last-block
                h2.icon-14 Экологическая безопасность
                ul.ul-block
                  -var rawMaterials = ['• снижение вредных выбросов в атмосферу в несколько раз за счет полноты сгорания']
                    each material in rawMaterials
                      li #{material}
                p Обработка топлива производится без применения каких-либо реагентов или добавок.<br/>Диспергатор применяется также для создания однородных жидких основ при производстве: биодизеля, лаков, красок, клеев, различного рода паст, эмульсий и др.
    #cd-loading-bar(data-scale="1").index
